.App {
  width: 100%;
  height: 100%;
  background: #444;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bottom-nav {
  height: 48px;
  border-top: solid black 2px;
  display: flex;
}

#bottom-nav button {
  flex: 1;
  margin: 2px;
}

#splitter-root {
  background-color: #444;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  flex: 1 0 0px;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#splitter-root h1,
#splitter-root h2,
#splitter-root p {
  margin: 4px;
}

#splitter-root input {
  margin: 8px;
  height: 42px;
  font-size: 32px;
  color: #ddd;
  background: #222;
  width: 300px;
  max-width: 90%;
  color: #090;
  text-shadow: 0px 0px 4px#090;
}

.split-button {
  width: 300px;
  max-width: 90%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0px 0px 4px#090;
  background: #090;
}

.split-button:hover {
  box-shadow: 0px 0px 6px#0b0;
  background: #0b0;
}

.split-button:active {
  box-shadow: 0px 0px 0px#0a0;
  background: #050;
}

.show-split {
  font-size: 32px;
  color: #090;
  text-shadow: 0px 0px 4px#090;
}

#stats-root {
  color: #090;
  text-shadow: 0px 0px 4px#090;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  overflow: auto;
}

#stats-root h1 {
  font-size: 400%;
  margin: 16px;
}

#stats-root h2 {
  font-size: 200%;
  margin: 4px;
}

#chart-root {
  background: #000;
  flex: 1;
  overflow: auto;
}
